span.web-developer span.web {
    color: #4CAF50;
}

span.web-developer span.developer {
    color: #EC407A;
}

span.web-developer {
    background-color: #212121;
    padding: 2px 5px;
    font-family: monospace;
    display: block;
}

.palermo .content {
    background-image: url('/resources/assets/images/palermo.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.batman .content {
    background-image: url('/resources/assets/images/batman-logo.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
}

.amiga .content {
    background-image: url('/resources/assets/images/amiga.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slow-internet .content {
    background-image: url('/resources/assets/images/56k.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.html .content {
    background-image: url('/resources/assets/images/html.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.graduate .content {
    background-image: url('/resources/assets/images/graduate.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-qwince .content {
    background-image: url('/resources/assets/images/webdeveloper.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-pter .content {
    background-image: url('/resources/assets/images/workstation-pter.jpg');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-myfamilyplace .content {
    background-image: url('/resources/assets/images/workstation-myfamilyplace.jpg');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-everli .content {
    background-image: url('/resources/assets/images/workstation-everli.jpg');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.work-airalo .content {
    background-image: url('/resources/assets/images/airalo.jpg');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.university .content {
    background-image: url('/resources/assets/images/university-palermo.png');
    padding: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.element:last-child {
    padding-bottom: 0px;
}

span.code span.html-code {
    color: #4CAF50;
}

span.code span.css-code {
    color: #EC407A;
}

strong.batman-returns {
    padding: 2px 5px;
    display: table;
    margin: 0 auto;
    text-transform: uppercase;
}

strong.batman-returns span.batman-text {
    margin: 0px auto;
    font-size: 1.4em;
}

strong.batman-returns span.returns-text {
    margin: 0px auto;
    font-size: 0.8em;
}

@media(min-width: 1024px) {
    .element {
        width: 50%;
        margin: 0 25%;
    }
}
