@import url('https://fonts.googleapis.com/css?family=Anton|Aldrich|Space%20Mono|Prompt');

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}