@import url('https://fonts.googleapis.com/css?family=Anton|Aldrich');

body {
    margin: 0;
    padding: 0;
    background-color: #212121;
}

.content {
    display: block;
    padding-top: 90px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
}